.home-container{
  min-height: calc(100vh - 8.2rem);
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

@media (max-width: 640px) {
  .mt-4 {
    margin-top: 1rem;
  }
}
